name: build
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - v1
      - v2
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - name: Fmt check
        run: make fmt-check
      - name: Linter check
        run: make lint
      - name: Run tests
        run: make test-verbose
